

<section class="section section--border-bottom rad-animation-group">
    <div class="container max-w-screen-lg mx-auto px-6 grid">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2 class="text-4xl font-bold mb-4">Experience</h2>
                  
                     <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center"> 



                        <div class="education font-light text-lg">
Having recently graduated with a First Class BSc in Mathematics, from Lancaster University, I am currently studying for a MSc in Statistics. I look forward to completing my masters course later this year and entering the world of employment. To see my previous work experience and extra curricular projects, check out my LinkedIn Profile.
                        
                        <button class="learn-more" style="margin-top:20px;">
                          <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                          </span>
                          <a href="https://www.linkedin.com/in/ethan-webb10"><span class="button-text">LinkedIn</span></a>
                        </button>
                        </div>
                        
                        <img class="rounded-lg shadow-sm" src="{{ .Site.Params.expPhoto }}" alt="Ethan at Lancaster" />
                        
                    </div>
            </div>
        </div>
    </div>
</section>


