/* Custom Styles */
body {
  font-family: "Inter", sans-serif;
}

/* Fonts */

/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/inter-v3-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-300.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v3-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-500.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v3-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/inter-v3-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/inter-v3-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/inter-v3-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/inter-v3-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/inter-v3-latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}

/* Ethan Added */

.flex-container{
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.gird_container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 400px);
}

.gird_container_2{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 400px);
}

/* Education */

.education__date, .experience__date {
	line-height: 1.57
}

.education {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	align-items: flex-start;
	min-height: 131px
}

.education__date {
	position: relative;
	font-size: 14px;
	font-weight: 300;
	color: #333;
	z-index: 2
}
.education__title {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	z-index: 2
}
.education__degree, .experience__date {
	font-size: 14px;
	font-weight: 300;
	color: #333;
	z-index: 2;
	position: relative
}


.section--border-bottom::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100%;
	height: 1px;
	max-width: 1170px;
	background-color: #dbe0e4;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.section {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px
}

/* Section */

.section .row.row--padded {
	margin-top: 32px;
	margin-bottom: 60px
}
@media (min-width:1200px) {
	.section div[class*=col-].rad-col-text:first-child {
		max-width: 500px;
		margin-right: auto
	}
	.section div[class*=col-].rad-col-text:not(:first-child) {
		max-width: 500px;
		margin-left: auto
	}
}
.section div[class*=col-].rad-col-text h2 {
	text-align: center
}
@media (min-width:992px) {
	.section {
		padding-top: 80px;
		padding-bottom: 80px
	}
	.section .row.row--padded {
		margin-top: 80px;
		margin-bottom: 80px
	}
	.section div[class*=col-].rad-col-text h2 {
		text-align: left
	}
}
.section div[class*=col-].rad-col-text p {
	text-align: center
}
.section div[class*=col-] img {
	max-width: 100%
}
.section div[class*=col-] img.image-left-overflow {
	margin-left: 0
}
@media (min-width:768px) {
	.img-clip-left-forward {
		-webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%)
	}
	.img-clip-right-backward {
		-webkit-clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%)
	}
	.img-clip-right-forward {
		-webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%)
	}
	.section div[class*=col-] img.image-left-overflow {
		margin-left: -50px
	}
	.section div[class*=col-] img.image-right-overflow {
		margin-right: -150px
	}
}
.section--cta {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #000;
	color: #fff
}
.section--cta .h2, .section--cta h2 {
	color: #fff
}
.section--contact {
	padding-bottom: 0;
	background-image: url(../img/contact-bg.png);
	background-repeat: repeat-x;
	background-position: 0 100%
}
.section--contact .container {
	background-color: #fff;
	box-shadow: 0 42px 34px -16px rgba(0, 0, 0, .3)
}
.section li {
	display: block;
	position: relative;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 300;
	color: rgba(0, 0, 0, .6);
	line-height: 1.24;
	margin-bottom: 12px;
	text-align: left
}
.section li::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #000
}
.header.collapse.show::before, .header.collapsing::before {
	background-color: #fff;
	opacity: 1
}
.header+.section {
	margin-top: 120px
}
.section.four-o-four {
	-webkit-box-flex: 1;
	flex: 1
}

@media (min-width:992px) {
	.section div[class*=col-].rad-col-text p {
		text-align: left
	}
	.section div[class*=col-] img.image-left-overflow {
		margin-left: -75px
	}
}

@media (min-width:1200px) {
	.section div[class*=col-] img.image-left-overflow {
		margin-left: -120px
	}
}

.rad-showcase+section {
	margin-top: 0
}

@media (min-width:1200px) {
	.rad-showcase {
		min-height: 870px;
		padding-top: 0;
		margin-bottom: 0
	}
	.rad-showcase+section {
		margin-top: -125px
	}
}

/* Cols */

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px
}

.col-12 {
	-webkit-box-flex: 0;
	flex: 0 0 100%;
	max-width: 100%
}

.col-sm-6 {
		-webkit-box-flex: 0;
		flex: 0 0 50%;
		max-width: 50%
}
	
.mb-4, .my-4 {
	margin-bottom: 1.5rem!important
}	

.mb-sm-0, .my-sm-0 {
		margin-bottom: 0!important
}
	
.pt-md-4, .py-md-4 {
		padding-top: 1.5rem!important
}

.pt-2, .py-2 {
	padding-top: .5rem!important
}

/* Row */

.row {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

/* Links Buttons */

@import url('https://fonts.googleapis.com/css?family=Mukta:700');
 * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}

 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
	 margin-top: 20px;
}
 button.learn-more {
	 width: 12rem;
	 height: auto;
}
 button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: #34548A;
	 border-radius: 1.625rem;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #fff;
	 border-right: 0.125rem solid #fff;
	 transform: rotate(45deg);
}
 button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #34548A;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 button.learn-more .button-text_a {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #000;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #fff;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #fff;
}
button:hover .button-text_a {
	 color: #fff;
}
 
/* COMMENT OUT */ 
 
/*@supports (display: grid) {
	 body {
		 display: grid;
		 grid-template-columns: repeat(4, 1fr);
		 grid-gap: 0.625rem;
		 grid-template-areas: ". main main ." ". main main .";
}
	
	 #container {
		 grid-area: main;
		 align-self: center;
		 justify-self: center;
		 margin-top: 30px;
	}
}*/

/* Progress Bar CSS */


/* body
{
  background:#03a9f4;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  display:flex;
}*/

.box
{
  background:#fff;
  width:230px;
  height:230px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  flex-direction:column;
  box-shadow:0 0px 20px rgb(0 0 0 / 10%);
  transition: transform .2s;
}
/* .box:hover
{
 transform:scale(1.2);
} */
.box .percent
{
  width:150px;
  height:150px;
  position:relative;
}
.box .percent svg
{
  width:150px;
  height:150px;
  position:relative;
}
.box .percent svg circle
{
  width:150px;
  height:150px;
  fill:none;
  stroke-width:10;
  stroke:#000;
  transform:translate(5px,5px);
  stroke-dasharray:440;
  stroke-dashoffset:440;
  stroke-linecap:round;
}
.box .percent svg circle:nth-child(1)
{
  stroke-dashoffset:0;
  stroke:#f3f3f3;
}

/* Change 13 in (440 * 13) For Percentage Change*/
.box .percent svg circle:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 13) / 100);
  stroke:#03a9f4;
}
.box .percent .num
{
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  color:#111;
}
.box .percent .num h2
{
  font-size:48px;
}
.box .percent .num h2 span
{
  font-size:24px;
}
.box .text
{
  color:#999;
  font-weight:700;
  letter-spacing:1px;
  text-align: center;
  margin-top: 10px;
}


